body {
    background-image: url("website parallax personal site.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .button:hover {
        transform: scale(1.2);
        transition: transform 0.5s ease-in-out;
        filter: invert(100%);
        transition: filter 0.s ease-in-out;
    }
}
    
